

<h1> <%= @flat.name  %></h1>
<p> <%= @flat.address  %></p>
<p> <%= @flat.description  %></p>
<p> <i class="fas fa-users"></i> <%= @flat.number_of_guests  %></p>
<p> <i class="fas fa-dollar-sign"></i> <%= @flat.price_per_night  %></p>


<p> <i class="fas fa-arrow-left"></i> <%= link_to 'back to flats', flats_path  %> </p>

